.footer-content{
    width: 90%;
    margin-left: 5%;
    text-align: center;


    
   
}

.footer-content p{
    font-weight: 600;
}

footer{
    border: 2px solid rgb(165, 91, 91);
   /* width: 100vw;*/
   text-align: center;
   margin: 0 auto;
   min-width: 280px;
   margin-top: 10px;
   
}