.home-container{
    text-align: center;
    margin: 0 auto;
}

.carrousel{
    height: fit-content;
    background-color: grey;
}

.offer-container{
      
    text-align: center;
    margin-top: 50px;
  
    margin: auto;
   
    width: 250px;/*no estaba*/

}

.offer-container-title{
    margin-top: 50px;
   

}

.offer-container h4{
    padding: 20px;
    margin-right: 0;
}

.item img{
    transition: transform .2s;
}

.item img:hover{
    transform: scale(1.05);
}


.item{
    text-align: center;
   /* margin: 0 auto;*/
   margin-right: 40px;
}

.carousel-p{
    color: white;
    font-size: 24px;
    font-weight: 600;
}

#banner-shop{
    width: 200px;
    
}
.item-text{
    margin-left: 0px;
}


/*---nuevo----*/

.icon{
    color: rgb(120, 120, 238);
}

.presentacion{
    text-align: center;
    margin: auto;
}
 .texto-izq{
    display: none;
  margin: 0 auto;
    margin-top: 100px;

    /*celu*/
   /* display: flex;*/
    width: 200px;
    text-align: center;
    

   

    
}



.texto-izq h3, .texto-der h3{
    color: white;
    display: none;
}

.texto-izq p, .texto-der p{
    font-size: 12px;
    padding: 5px;
    
}

.texto-der{
    /*celu*/

    display: none;
     /* display: flex;*/
    text-align: center;

    width: 250px;
   
    padding: 0px;
  
    margin: 0 auto;
    
    }


.offer-container-title{
    text-align: center;
    margin: auto;
    margin-top: 100px;
    /* width: 200px;*/
    
}

.cont{
    text-align: center;
}
#img-home{
    width: 250px;
    opacity: 0.9;
    margin: 0px auto;
    text-align: center;
   /* margin-right: 30px;*/
}

#img-home:hover{
 
    opacity: 1;
}

#banner-shop-animation{
    text-align: center;
    margin: 0 auto;
    width: 200px;
 
}

#banner-shop{
    text-align: center;
    margin: 0 auto;
    width: 200px;
}

/*home productos*/
.home-productos{
    text-align: center;
}
.home-productos img{
    margin-bottom:50px ;
    margin-top: 50px;
    width: 250px;
    height: 10px;
    margin: 0 auto;
  
    
}

.item img{
    margin: 0 auto;
   
}
/*-----animacion-----------*/
#img-home,.texto-der, .texto-izq{
    position: relative;
    animation-name:desplazar;
    animation-duration:4s;
}





@keyframes desplazar{
    from{
        position:relative;
        left: 80%;
    }

    to{
        left: 0%;
    }
 }   



 
@media screen and (min-width: 1076px) {
    .home-container{
        text-align: center;
        margin-bottom: 0;
    }
    
    .carrousel{
        height: fit-content;
        background-color: grey;
    }
    
    .offer-container{
   
       width:1000px;
        text-align: center;
       /*min-width: 1076px;*/
        margin: 0 auto;
       /* margin-top: 30px;*/
    
    }

    .home-productos{
        margin-top: 40px;
    }
    
    .offer-container h4{
        padding: 20px;
        margin-right: 0;
    }
    
    .item img{
      /*  border: 1px solid black;*/
        width: 350px;
        object-fit: cover;
        
    }
    
    .carousel-p{
        color: white;
        font-size: 48px;
        font-weight: 600;
    }
    
    .offer-container-title{
        text-align: center;
        margin-top: 0;
        width: 1000px;
    }

    .presentacion{
        background-color:rgb(59, 59, 63);
        display: flex;
        width: 100%;
        margin:  auto;
        border: 5px solid blue;
        
    }

   
    
    #img-home{
        width: 400px;
        margin-right: 0;
        margin: 30px auto;
        margin-left:20px ;
        
    }
    .texto-izq{
        
        width: 50%;
        text-align: right;
        padding: 40px;
    
        display: grid;
        
        margin-top: 0;
        margin-left:20px ;
       
       

    }

    .texto-izq h3{
        display: grid;
    }

    .texto-izq p{
        color: white;
        font-weight: 600;
        font-size: 16px;
    }

   
    /*-----texto der presentacion---*/
    .texto-der{
        text-align: left;
        padding: 40px;
        width: 630px;
      
        display: grid;
        margin-left: 0px;
        margin-left:20px ;
    }

    .texto-der h3{
        display: grid;
    }
    
    .texto-der p{
        color: white;
        font-weight: 600;
        font-size: 16px;
       
    }



#banner-shop{
    width: 700px;
    margin-top: 50px;
}

.home-productos img{
    margin-bottom:50px ;
    margin-top: 50px;
    width: 70%;
    height: 20px;
}

/*----animacion banner abajo-----*/
#banner-shop-animation{
    width: 700px;
    animation-name:fadein;
    animation-duration:4s;
    margin-top: 50px;
}

@keyframes fadein{
    0% {opacity: 0;}
  100% {opacity: 1;}
 }   

 .banner2 img{
   margin-left: 50px;
   animation-name: desplazar2;
   animation-duration:4s;
  
 }

 .banner2{
    margin-top: 80px;
 }

 @keyframes desplazar2{
    0% {opacity: 0;}
    100% {opacity: 1;}
 }  
 
}