

.button-operation-q{
    
    height:10px;
   width:50px;

    /*width: 10px;*/
   margin-right: 5px;
   margin-left: 5px;
  margin-top: 0px;

}
#button-change-q{
    width: 160px;
    height: 35px;
    margin-top: 10px;
}



